body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #0f0f23;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    transition: background-image 0.5s ease-in-out;
}

.parallax {
    min-height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#parallax-section1 {
    background-image: url('cosmic.png');
}

#parallax-section2 {
    background-image: url('b2.png');
}

.content {
    min-height: 0px;
}

.navbar {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #52e8ff50;
    color: white;
    z-index: 1000;
    padding: 40px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.navbar a {
    color: rgb(238, 197, 255);
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    display:inline-flexbox;
}

.navbar a:hover {
    color: #8bd7d0; 
}

miniheader {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: #ffffff;
    transition: color 0.3s ease;
}

h1 {
    background-image: url('tabs.png');
    background: size cover;
    background-position: center;
    padding: 60px;
    font-size: 80px;
    margin-top: 60px;
    color: #ffffff;
}

h2 {
    margin-top: 60px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    color: #ffffff;
    color: inherit;
}

h3 {
    margin-top: 60px;
    color: #ffffff;
    font-size: 65px;
}

.line1 {
    color: #e0b9fb; 
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

.line2 {
    color: #c0fcc0; 
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

.line3 {
    color: #bac5fd; 
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

/* video {
    width: 100%;
    max-width: 1100px; Maximum size
    height: auto; Maintain aspect ratio
    margin-top: 200px;
} */

bgc {
    background: rgba(0, 0, 0, 0.5);
}


p {
    /* background: rgba(0, 0, 0, 0.5); */
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
    text-shadow: 2px 2px 4px #000000;
}

p1 {
    text-align: center;
    font-size: 28px;
    margin: 10px 0;
    text-shadow: 2px 2px 4px #000000;
}

p2 {
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
    color: #ffffff;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: start;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    margin-left: 20px;
}

.text-container h1 {
    font-size: 65px;
}

.profile-pic {
    max-width: 730px;
    margin-right: 20px;
}

header div {
    font-size: 2em;
}

section {
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

.image-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.profile-image {
    width: 90%;
    margin-right: 10px;
    max-width: 900px;
    height: auto;
    flex-shrink: 0;
}

.image-description {
    max-width: 50%;
    text-align: left;
    font-size: 1em;
    padding-left: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover, a:hover h2, a:hover p, a:hover {
    color: #ce86fa; 
    text-shadow: 0 0 8px #ce86fa; /* glow effect */
    text-decoration: none; /* no underline on hover */
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('cosmic.png') no-repeat center center fixed; 
    background-size: cover;
    z-index: -1;
    opacity: 0.75;
}
