body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #0f0f23; /* Dark background for cosmic theme */
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain; /* Ensures the image covers the whole area */
    /* Keep the transition property as before */
    transition: background-image 0.5s ease-in-out;
}

.parallax {
    min-height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#parallax-section1 {
    background-image: url('cosmic.png');
}

#parallax-section2 {
    background-image: url('b2.png');
}

.content {
    min-height: 0px;
}

.navbar {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #52e8ff50; /* Dark background for the navbar */
    color: white;
    z-index: 1000; /* Ensure navbar stays on top of other content */
    padding: 40px 0; /* Add some padding for aesthetic purposes */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: Adds a shadow for depth */
}

.navbar a {
    color: rgb(238, 197, 255);
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    display:inline-flexbox; /* Or use 'block' if you prefer */
}

.navbar a:hover {
    color: #8bd7d0; 
}

miniheader {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    color: #ffffff;
    transition: color 0.3s ease;
}

h1 {
    background-image: url('tabs.png'); /* Set the background image */
    background: size cover; /* Ensure the image covers the entire element */
    background-position: center; /* Center the background image */
    padding: 60px; /* Increased padding */
    font-size: 80px;
    margin-top: 60px; /* Added top margin */
    color: #ffffff;
}

h2 {
    margin-top: 60px; /* Added top margin */
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    color: #ffffff;
    color: inherit; /* Inherits color from parent */
}

h3 {
    margin-top: 60px; /* Added top margin */
    color: #ffffff;
    font-size: 65px;
}

.line1 {
    color: #e0b9fb; 
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

.line2 {
    color: #c0fcc0; 
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

.line3 {
    color: #bac5fd; 
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

/* video {
    width: 100%;
    max-width: 1100px; Maximum size
    height: auto; Maintain aspect ratio
    margin-top: 200px;
} */

bgc {
    background: rgba(0, 0, 0, 0.5);
}

/* Targeting all <p> elements */
p {
    /* background: rgba(0, 0, 0, 0.5); */
    text-align: center;
    font-size: 30px;
    margin: 10px 0; /* Adjust spacing around the paragraph */
    text-shadow: 2px 2px 4px #000000;
}

p1 {
    text-align: center;
    font-size: 28px;
    margin: 10px 0; /* Adjust spacing around the paragraph */
    text-shadow: 2px 2px 4px #000000;
}

p2 {
    text-align: center;
    font-size: 25px;
    margin: 10px 0; /* Adjust spacing around the paragraph */
    color: #ffffff;
}

.profile-container {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: start; /* Aligns items to the start of the container */
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.text-container {
    display: flex;
    flex-direction: column; /* Stack text elements vertically */
    align-items: start; /* Aligns text to the start */
    text-align: left; /* Aligns text to the left */
    margin-left: 20px; /* Space between the image and the text */
}

.text-container h1 {
    font-size: 65px;
}

.profile-pic {
    max-width: 730px;
    margin-right: 20px;
}

header div {
    font-size: 2em;
}

section {
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

.image-description-container {
    display: flex; /* Use Flexbox for layout */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Align the items vertically */
    margin-top: 25px;
    margin-bottom: 25px; /* Added bottom margin for spacing between containers */
    background: rgba(0, 0, 0, 0.5);
    padding: 20px; /* Add padding around the content */
}

.profile-image {
    width: 90%; /* Adjust the width as needed */
    margin-right: 10px; /* Ensure some space between the image and the description */
    max-width: 900px; /* You might want to limit the max width to maintain aspect ratio */
    height: auto; /* Maintain aspect ratio of the image */
    flex-shrink: 0; /* Prevent the image from shrinking if container is too small */
}

.image-description {
    max-width: 50%; /* Adjust the width as needed */
    text-align: left; /* Align the text to the left */
    font-size: 1em; /* Adjust font size as needed */
    padding-left: 20px; /* Add some padding to separate text from image */
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover, a:hover h2, a:hover p, a:hover {
    color: #ce86fa; /* Changes text color on hover */
    text-shadow: 0 0 8px #ce86fa; /* Creates a glow effect with the same color */
    text-decoration: none; /* Ensures no underline on hover */
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('cosmic.png') no-repeat center center fixed; 
    background-size: cover;
    z-index: -1;
    opacity: 0.75;
}
